* {
  padding: 0px;
  margin: 0px;
}
.head-logo {
  width: 200px;
  height: 150px;
}
#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}
#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  font-size: 25px;
  list-style: none;
  cursor: pointer;
}
#nav-container {
  margin: 60px;
}
.card-item {
  border: 1px solid black;
  margin: 10px;
  width: 200px;
}
.rest-logo {
  height: 150;
  width: 100%;
}
#card-container {
  display: flex;
  flex-wrap: wrap;
}
#search-btn {
  margin: 20px;
}
.body_btn {
  height: 30px;
  width: 50px;
  color: white;
  background-color: black;
}
.search_container {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.filter_section {
  display: flex;
  justify-content: center;
}
